body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ff9ee2;
  }
  
  .birthdayCard {
    position: relative;
    width: 400px;
    height: 550px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
  
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 150px 30px 100px rgba(0, 0, 0, 0.2),
      0 15px 100px rgba(0, 0, 0, 0.5);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy {
    visibility: hidden;
  }
  
  .cardFront {
    position: relative;
    background-color: #ff4da6;
    width: 400px;
    height: 550px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 150px 30px 100px rgba(0, 0, 0, 0.2),
      30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
  }
  
  .happy {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 40px;
    color: #fff;
    background-image: linear-gradient(120deg, #ff99cc 0%, #cc66ff 100%);
    transition: 0.1s;
  }
  
  .balloons {
    position: absolute;
  }
  
  .balloon-1,
  .balloon-2,
  .balloon-3,
  .balloon-4 {
    position: absolute;
    width: 110px;
    height: 120px;
    border-radius: 50%;
  }
  
  .balloon-1 {
    background-color: #ff66b2;
    left: 10px;
    top: 60px;
  }
  
  .balloon-2 {
    background-color: #cc66ff;
    left: 100px;
    top: 20px;
  }
  
  .balloon-3 {
    background-color: #ff99cc;
    left: 200px;
    top: 50px;
  }
  
  .balloon-4 {
    background-color: #d98cff;
    left: 300px;
    top: 60px;
  }
  
  .balloon-1::before,
  .balloon-2::before,
  .balloon-3::before,
  .balloon-4::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffffff;
    top: 120px;
    left: 55px;
  }
  
  .hearts {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    height: 300px;
  }
  
  .heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    transform: rotate(-45deg);
    animation: float 3s infinite;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -15px;
    left: 0;
  }
  
  .heart::after {
    left: 15px;
    top: 0;
  }
  
  @keyframes float {
    0% { transform: translateY(0px) rotate(-45deg); }
    50% { transform: translateY(-20px) rotate(-45deg); }
    100% { transform: translateY(0px) rotate(-45deg); }
  }
  
  .cardInside {
    position: absolute;
    background-color: #ffccf2;
    width: 400px;
    height: 550px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 150px 30px 100px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-family: "Brush Script MT", cursive;
    font-size: 24px;
    margin: 50px;
    color: #800080;
  }
  
  .name {
    position: absolute;
    left: 220px;
    top: 320px;
    color: #800080;
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    font-size: 26px;
    color: #800080;
    text-align: center;
    margin: 40px;
    outline-color: #800080;
    outline-style: dotted;
  }

